<div>
    <div style="margin: 20px;">
        <h1>All Available Deliveries</h1>
    </div>
    <div style="margin: 20px;">
    <table class="table">
        <caption>List Of Orders</caption>
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">User Name</th>
                <th scope="col">Delivery Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of data;let i = index;">
                <th scope="row">{{i+1}}</th>
                <td>{{order.userName}}</td>
                <td>{{order.orderAddress}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>