<div class="container">
    <div style="margin: 30px;">
        <h1>Register Hub</h1>
        <div style="margin: 30px;">
            <form [formGroup]="registerHub" (ngSubmit)="registerhub()">
                <div class="form-row">
                    <div class="form-group col-md-6" >
                        <input type="text" class="form-control" id="inputcity" formControlName="city" placeholder="City Name / Hub Identifier">
                        <div *ngIf="city.invalid && city.touched">
                            <div class="alert alert-danger" role="alert">
                                An Hub identifier is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2" style="margin-top: 30px;">
                        <input type="text" class="form-control" id="inputfee" formControlName="fee" placeholder="Fee">
                        <div *ngIf="isfeealert">
                            <div class="alert alert-danger" role="alert">
                               {{feedisplay}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 30px;">
                    <input type="text" class="form-control" id="inputAddress" formControlName="address" placeholder="1234 Main St">
                </div>
                <div *ngIf="address.invalid && address.touched">
                    <div class="alert alert-danger" role="alert">
                        An Address is required
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">Register Hub</button>
            </form>
        </div>
    </div>
</div>