<div class="container">
    <div style="margin: 30px;">
        <h1>SET YOUR PASSWORD</h1>
        <div style="margin: 30px;">
            <form [formGroup]="activateAccount" (ngSubmit)="resetpassword()">
                <div class="form-row">
                    <div class="form-group col-md-6" >
                        <input type="password" class="form-control" id="inputpassword" formControlName="password" placeholder="PASSWORD">
                        <div *ngIf="password.invalid && password.touched">
                            <div class="alert alert-danger" role="alert">
                                Password required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6" style="margin-top: 30px;">
                        <input type="password" class="form-control" id="inputpasswordcompare" formControlName="passwordcompare" placeholder="CONFIRM PASSWORD">
                        <div *ngIf="ispasswordalert">
                            <div class="alert alert-danger" role="alert">
                               {{passworddisplay}}
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 20px;margin-bottom: 20px;">
                    <button type="submit" class="btn btn-outline-primary">Activate Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
